.text {
  color: black;
  font-family: 'Lora', serif;
}

a {
  color: black;
  font-family: 'Lora', serif;
}

.title {
  color: black;
  font-family: 'Anton', sans-serif;
}

p {
  color: black;
  font-family: 'Lora', serif;
}

.button {
  color: black;
  font-family: 'Lora', serif;
}
