.wrapper {
 margin: auto;
 width: 80%;
 border: dashed 1px red;
}

.header {
 color: black;
 border: dashed 1px red;
 font-family: 'Lora', serif;
 display: flex;
 justify-content: space-between;
}

.logo, .menu {
 color: black;
 font-family: 'Lora', serif;
 display: inline-block;
 border: dashed 1px red;
}

.logo {
 margin-right: 63%;
 padding: 40px 0;
}

.menu {
 display: flex;
 align-items: center;
}

.menu__item {
 padding: 0 13px;
 border: dashed 1px red;
}

.menu__item:last-child {
 padding-right: 0;
}

.title {
  color: black;
  font-family: 'Anton', sans-serif;
}

p {
  color: black;
  font-family: 'Lora', serif;
}

.button {
  color: black;
  font-family: 'Lora', serif;
}
